In [1]:
import pandas as pd

In [4]:
#first I will begin with checking if the data is balanced or not I will be working on the Z_score csv
data=pd.read_csv("D:\DownLoad\projects\Auto_learn\data\Z_score_df.csv")
df=pd.DataFrame(data).drop(columns="Unnamed: 0")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9863 entries, 0 to 9862
Data columns (total 31 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   syn_error_rate                          9863 non-null   float64
 1   connection_time                         9863 non-null   int64
 2   destination_same_source_port_rate       9863 non-null   float64
 3   destination_different_server_rate       9863 non-null   float64
 4   connection_status                       9863 non-null   object
 5   connection_count                        9863 non-null   int64
 6   destination_server_different_host_rate  9863 non-null   float64
 7   suspicious_activity                     9863 non-null   int64
 8   protocol                                9863 non-null   object
 9   server_different_host_rate              9863 non-null   float64
 10  destination_server_syn_error_rate       9863 non-null   float64
 11  destination_host_server_count           9863 non-null   int64
 12  destination_same_server_rate            9863 non-null   float64
 13  fragment_errors                         9863 non-null   int64
 14  compromised_count                       9863 non-null   int64
 15  source_bytes                            9863 non-null   int64
 16  service_type                            9863 non-null   object
 17  destination_syn_error_rate              9863 non-null   float64
 18  same_server_rate                        9863 non-null   float64
 19  reset_error_rate                        9863 non-null   float64
 20  server_request_count                    9863 non-null   int64
 21  destination_server_reset_error_rate     9863 non-null   float64
 22  server_reset_error_rate                 9863 non-null   float64
 23  server_syn_error_rate                   9863 non-null   float64
 24  destination_bytes                       9863 non-null   int64
 25  guest_login                             9863 non-null   int64
 26  authentication_status                   9863 non-null   int64
 27  destination_host_count                  9863 non-null   int64
 28  destination_reset_error_rate            9863 non-null   float64
 29  different_server_rate                   9863 non-null   float64
 30  class                                   9863 non-null   object
dtypes: float64(15), int64(12), object(4)
memory usage: 2.3+ MB

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Omar\AppData\Local\Temp\ipykernel_18412\269794894.py:2: SyntaxWarning: invalid escape sequence '\D'
  data=pd.read_csv("D:\DownLoad\projects\Auto_learn\data\Z_score_df.csv")

In [5]:
df.head()

,syn_error_rate,connection_time,destination_same_source_port_rate,destination_different_server_rate,connection_status,connection_count,destination_server_different_host_rate,suspicious_activity,protocol,server_different_host_rate,...,destination_server_reset_error_rate,server_reset_error_rate,server_syn_error_rate,destination_bytes,guest_login,authentication_status,destination_host_count,destination_reset_error_rate,different_server_rate,class
0,0.0,0,0.01,0.00,SF,2,0.0,2,tcp,0.0,...,0.01,0.00,0.0,8314,0,1,87,0.01,0.0,anomaly
1,0.0,0,0.06,0.00,SF,4,0.0,2,tcp,0.0,...,0.06,0.00,0.0,8314,0,1,18,0.06,0.0,anomaly
2,0.0,0,0.00,0.00,SF,3,0.0,2,tcp,0.0,...,0.02,0.33,0.0,8314,0,1,255,0.02,0.0,anomaly
3,0.0,0,0.40,0.02,SF,101,0.0,0,icmp,0.0,...,0.00,0.00,0.0,0,0,0,255,0.00,0.0,anomaly
4,0.0,2,0.03,0.00,SF,3,0.0,2,tcp,0.0,...,0.32,0.00,0.0,8314,0,1,34,0.32,0.0,anomaly

In [8]:
object_col_names=[]
for col in df.select_dtypes(include=['object']).columns : 
    object_col_names.append(col)

In [9]:
print(object_col_names)

['connection_status', 'protocol', 'service_type', 'class']

In [13]:
# print(df['connection_status'].value_counts(),"\n")
# print(df['service_type'].value_counts(),"\n")
# print(df['protocol'].value_counts(),"\n")
print(df['class'].value_counts(),"\n")

class
normal     9839
anomaly      24
Name: count, dtype: int64

In [ ]:
# we need to increase the values of the anomly I will search for a way